$primary-color: hsl(193, 38%, 86%);
$primary-color-dark: hsl(150, 100%, 66%);
$primary-text-color: #fff;

$neutral-color: hsl(217, 19%, 38%);
$neutral-color-dark: hsl(217, 19%, 24%);
$accent-color: hsl(218, 23%, 16%);