@import "mixins";
@import "variables";
@import "components/main";

* {
  box-sizing: border-box;
}

html {
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
}

body {
  @include ds-flx-column;
  font-family: 'Manrope', sans-serif;
  height: 95vh;
  background: $accent-color;
}