.card {
  text-align: center;
  width: 450px;
  height: 300px;
  padding: 1.4em;
  border-radius: 13px;
  background: $neutral-color-dark;

  &__title {
    text-transform: uppercase;
    font-size: .7rem;
    letter-spacing: 4px;
    color: $primary-color-dark;
  }

  &__header {
    @include ds-flx-column;

    &--message {
      font-size: 1.4rem;
      color: $primary-text-color;
    }

    &--image {
      width: 100%;

    }
    &--mobile {
      display: none;
    }
  }

  &__btn {
    position: absolute;
    border: none;
    left: 48.3%;
    bottom: 135px;
    border-radius: 50%;
    padding: 0.83rem 0.94rem;
  }
}

.attribution {
  margin-top: 1.5em;
  color: $primary-color;

  a {
    color: $primary-color-dark;

  }
}

@media screen and (max-width: 375px) {
  .card {
    width: 340px;
    height: 320px;

    &__image {
      display: none;

      &--mobile {
        display: block;
        width: 100%;
      }
    }

    &__btn {
      left: 42.5%;
      bottom: 195px;
    }
  }
}